
/* Start BLog Page */
.blogPage .top{
    padding: 40px var(--basic-padding);
    margin-top: 80px;
    background-color: #123;
    color: #fff;
}
.blogPage .top h1 span {
    color: var(--main-color);
}
.blogPage .top p {
    color: #777;
    margin: 10px 0;
}
.blogPage .content {
    padding: 0 var(--basic-padding);
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 20px;
}
.blogPage .content .blog-content {
    cursor: pointer;
    background-color: #eee;
    text-decoration: none;
    color: #000;
    img {
        width: 100%;
        border-radius: 5px 5px 0 0;
    }
}
.blogPage .content .info {
    padding: 15px;
    h3 {
        margin: 10px 0;
    }
}
.blogPage .content .more {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #7777;
    span {
        display: flex;
        align-items: center;
        gap: 10px;
        svg {
            width: 20px;
        }
    }
}
.blogPage .show-next {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.blogPage .show-next span {
    border-radius: 50%;
    border: 1px solid #9E9E9E;
    width: 30px;
    cursor: pointer;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-details {
    padding: 40px var(--basic-padding);
    margin-top: 80px;
}
.blog-details img {
    width: 300px;
}
.blog-details h2 {
    margin: 10px 0;
}
.blog-details p {
    margin: 10px 0;
    color: #777;
}
.blog-details .more {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    span {
        font-weight: bold;
    }
}
/* End BLog Page */